@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*,
*::before,
*::after {
   box-sizing: border-box;
}

/* - внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'PT Sans Narrow';
   background-color: #292929;
   color: white;
   background-image: url('../img/back-desktop.jpg');
   background-position: top;

   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
main {
   margin-top: auto;
}
img {
   /* width: 100%; */
   display: block;
}

h1 {
}
h2 {
   font-weight: bold;
   font-size: 40px;
}
h3 {
   font-weight: bold;
   font-size: 30px;
   line-height: 30px;
}
h4 {
   font-size: 24px;
   font-weight: bold;
}

ul {
   list-style: none;
}

a {
   font-size: 18px;
   font-weight: 700;
   color: white;
   text-decoration: none;
}

p:not(.number) {
   line-height: 27px;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
}

.statistic,
.features p {
   font-size: 20px;
}

.news,
.review,
.footer p {
   font-size: 18px;
}

.container {
   max-width: 1020px;
   margin: 0 auto;
   padding: 0 30px;
}

.header {
   /* margin-bottom: 438px; */
   display: flex;
   flex-direction: column;
   text-transform: uppercase;
   align-items: center;
   gap: 57px;
}

.head-nav {
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: #000;
}

.nav-list {
   display: flex;
   justify-content: flex-start;
   height: 72px;
}
.nav-item {
}
.nav-active {
   position: relative;
   top: 24px;
   height: 3px;
   width: 100%;
   background-color: #826550;
}
.nav-item:hover {
   background-color: white;
   color: black;
}
.nav-link {
   display: block;
   align-self: center;
   height: 72px;
   padding: 24px 32px 25px;
}
.nav-link:hover {
   color: black;
}
.nav-link:active {
   opacity: 0.3;
}
.link-logo {
   display: block;
   order: 1;
   width: 370px;
}
.link-login {
   display: flex;
   width: 129px;
   height: 72px;
   padding: 28px 22px 28px 26px;
   justify-content: space-between;
}
.link-login:hover {
   background-color: white;
   color: black;
}
.link-login:active {
   color: #b3b3b3;
}
.link-login:active .login-icon {
   opacity: 0.1;
}
.link-login:hover .login-icon {
   fill: black;
}
.login-icon {
   align-self: center;
   opacity: 0.3;
   fill: white;
}

.login-button {
   align-self: center;
}

/* 2323232323232323232323232323232323232323 */
.stats-feat-background {
   background-color: #353535;
   height: 618px;
   margin-top: 438px;
}
.stats-feat-wrapper {
   height: 779px;
   position: relative;
   top: -161px;
}
/* статистика (2)22222222222222222222222222222222222222222222222222222222222222222 */

.statistic {
   display: flex;
   justify-content: space-between;
   margin-bottom: 77px;
}

.statistic-left {
   background-color: white;
   color: black;
   width: 320px;
   padding: 32px 34px;
}

.statistic-left h2 {
   line-height: 100%;
   max-width: 202px;
   margin-bottom: 38px;
}

.statistic-left p {
   max-width: 202px;
}

.statistic-list {
   max-width: 640px;
   display: flex;
   flex-wrap: wrap;
   background-color: #353535;
}

.statistic-item {
   width: 320px;
   padding: 25px 0 30px 34px;
}

.number {
   font-size: 72px;
   font-weight: 700;
   line-height: 100%;
   margin-bottom: 7px;
}

.statistic-item.item1 {
   background-color: rgba(255, 255, 255, 0.07);
}
.statistic-item.item2 {
   background-color: rgba(255, 255, 255, 0.12);
}
.statistic-item.item3 {
   background-color: rgba(255, 255, 255, 0.04);
}
.statistic-item.item4 {
   background-color: rgba(255, 255, 255, 0.07);
}

/* преимущества(3)333333333333333333333333333333333333333333333333333333333333333333333 */
.features {
   margin-bottom: 38px;
}

.features-list {
   display: flex;
}

.features-item {
   flex: 1 1 320px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.features h3 {
   margin-top: 33px;
   margin-bottom: 12px;
   text-transform: uppercase;
}
.features p {
   text-align: center;
   width: 233px;
}
.features-img {
   width: 95px;
   height: 95px;
}

.angle {
   position: absolute;
   bottom: 0;
   width: 100%;
}
.angle-img {
   width: inherit;
}

/* новости-отзывы 454545454545454545454545454545454545454545454545454545454545454545 */
.news-reviews {
   background-color: #f8f5f2;
   color: black;
}
.news-reviews a {
   color: #000;
   display: block;
   width: 160px;
   height: 50px;
   padding: 13px 0 13px 29px;
   border: 1px solid #e5ddd5;
   text-transform: uppercase;
}

.news-reviews h2 {
   text-transform: uppercase;
}

.news-reviews .line {
   width: 100%;
   height: 1px;
   background-color: #e5ddd5;
}
/* новости 44444444444444444444444444444444444444444444444444444444444444444444444444 */
.news {
}

.news-head {
   display: flex;
   width: 100%;
   justify-content: space-between;
   /* margin-bottom: 47px; */
   padding-top: 54px;
   padding-bottom: 47px;
}

.news-list {
   display: flex;
   justify-content: space-between;
   margin-bottom: 34px;
}
.news-item {
   flex: 0 1 274px;
   display: flex;
   gap: 21px;
}

.date {
   margin-top: 11px;
   display: flex;
   flex-direction: column;
   text-align: center;
   flex: 0 0 50px;
   color: #fff;
   background-image: url(../img/shield.svg);
   background-repeat: no-repeat;
}

.day {
   margin-top: 3px;
   margin-bottom: -3px;
   font-weight: bold;
   font-size: 30px;
}
.month {
   font-size: 16px;
   text-transform: uppercase;
}

/* отзывы 5555555555555555555555555555555555555555555555555555555555555555555555555555555555555 */
.reviews {
   padding-bottom: 91px;
   padding-top: 37px;
}

.reviews-head {
   display: flex;
   justify-content: space-between;
   margin-bottom: 37px;
}

.reviews-head a {
   padding-left: 24px;
}

.reviews-carusel {
   display: flex;
   height: 160px;
   gap: 21px;
}

.reviews-left,
.reviews-right {
   height: 100%;
   min-width: 50px;
   border: 1px solid #e5ddd5;
   cursor: pointer;
}

.reviews-list {
}

.review-item {
   display: flex;
   align-items: center;
   height: 100%;
}

.review-item img {
   width: 249px;
}

.review-text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   border: 1px solid #e5ddd5;
   padding: 31px 72px 36px;
}

.review-name {
   font-size: 24px;
   line-height: 27;
   font-weight: bold;
}

.bold {
   font-weight: bold;
   text-transform: uppercase;
}

/* подвал!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.footer {
   background-color: #292929;
   padding-top: 51px;
   padding-bottom: 55px;
}

.footer-wrapper {
   display: flex;
   justify-content: space-between;
}

/* 1 */
.footer-contacts {
   flex: 1 1 320px;
}

/* 2 */
.social {
   flex: 1 1 320px;
}

.social-list {
   display: flex;
}

.social * {
   width: max-content;
}

.social-wrapper {
   margin: auto;
   height: 90px;
}

.social p {
   margin: auto;
   margin-bottom: 13px;
}

.social-item {
   width: 50px;
   height: 50px;
   border: 1px solid #4a4a4a;
}

.social-link {
   display: table-cell;
   width: 48px;
   height: 48px;
   vertical-align: middle;
   text-align: center;
}

.social-img {
   margin: 0;
   display: inline;
}

/* 3 */
.developedBy {
   flex: 1 1 320px;
   height: 100%;
   /* align-self: center; */
}

.developedBy p {
   width: max-content;
}

.developedBy-wrapper {
   width: max-content;
   float: right;
}

.developedBy-header {
   margin: auto;
   margin-bottom: 13px;
}

.developedBy-name {
   font-weight: bold;
   display: block;
   border: 1px solid #4a4a4a;
   padding: 10.5px 44px;
}

.hidden {
   display: none;
}
