main {
   margin-top: 99px;
}
h1 {
   font-weight: bold;
   font-style: 40px;
   line-height: 52px;
   text-transform: uppercase;
   width: max-content;
}




.reg {
   background-color: #f8f5f2;
   color: #000;
   padding-top: 53px;
   padding-bottom: 87px;
}

.reg__header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 66px;
}




form {
   display: block;
}


.booking {

}



.booking__list {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 70px 70px 210px;
   gap: 35px;
}

.booking__item {
}
.booking__item:focus {
}

.booking__item.item1 {
   background-color: #f00;
   grid-column-start: 1;
   grid-column-end: 3;
}

.booking__item.item2 {
   grid-column: 3/5;
}
.booking__item.item3 {
   grid-column: 5/7;
}
.booking__item.item4 {
   grid-row: 2/2;
   grid-column: 1/4;
}
.booking__item.item5 {
   grid-row: 2/2;
   grid-column: 4/7;
}
.booking__item.item6 {
   grid-row: 3/3;
   grid-column: 1/7;
}

.booking__item input {
   height: 100%;
   width: 100%;
   background: #ffffff;
   border: 1px solid #e5ddd5;
   padding: 0 25px;
   font-size: 24px;
   font-family: inherit;
}

.booking__item input:focus,
textarea:focus {
   outline: 4px solid rgba(0, 125, 250, 0.6);
}

.booking__item input:active,
textarea:active {
   border-color: #999;
   outline: none;
}

.booking__item input::placeholder {
   color: #000;
}

#info {
   min-width: 100%;
   max-width: 100%;
   max-height: 100%;
   min-height: 100%;

   font-size: 24px;
   padding: 20px 25px;
   border: 1px solid #e5ddd5;
   font-family: inherit;
}
#info::placeholder {
   color: black;
}


.beard {
   margin-top: 65px;
   display: flex;
   justify-content: space-between;
}

.beard__label {
   display: flex;
   flex-direction: column;
   align-content: center;
}

.beard-form__label img {
   /* width: 52px; */
}